.env
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
/node_modules
/public_html/hot
/public_html/storage
/public_html/css
/public_html/js
/public_html/images
/public_html/fonts
/public_html/mix-manifest.json
/public_html/robots.txt
/resources/assets/js/ziggy.js
/storage/*.key
var/
vendor/
.npmrc
.phpunit
.phpunit.result.cache
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
.DS_Store
Old/
twitch.json
*.old
