$app-dark-dark: rgb(32, 34, 37);
$app-dark-medium: rgb(47, 49, 54);
$app-dark-light: rgb(54, 57, 63);
$app-dark-font: rgb(255, 255, 255);
$app-dark-input-shadow: inset 0 1px 2px rgba($app-dark-light, 0.075) !default;
$app-dark-input-focus-box-shadow: 0 0 0 $input-focus-width $app-dark-light !default;

.app-dark {
    background-color: $app-dark-medium;
    color: $app-dark-font;

    .isSolid {
        background-color: $app-dark-dark;
        border-bottom-color: darken($app-dark-dark, 7.5%);
    }

    .btn-light {
        @include button-variant($app-dark-light, $app-dark-light);
    }

    .btn-primary {
        @include button-variant($app-dark-dark, $app-dark-light);
    }

    .btn-outline-light {
        color: $app-dark-font;
        border-color: $app-dark-light;

        &:hover {
            color: $app-dark-font;
            background-color: $app-dark-light;
            border-color: $app-dark-light;
        }

        &:focus {
            box-shadow: 0 0 0 $btn-focus-width rgba($app-dark-font, 0.5);
        }

        &.disabled,
        &:disabled {
            color: $app-dark-font;
            background-color: transparent;
        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        .show > &.dropdown-toggle {
            color: color-yiq($app-dark-light);
            background-color: $app-dark-light;
            border-color: $app-dark-light;

            &:focus {
                @if $enable-shadows and $btn-active-box-shadow != none {
                    @include box-shadow(
                        $btn-active-box-shadow,
                        0 0 0 $btn-focus-width rgba($app-dark-font, 0.5)
                    );
                } @else {
                    // Avoid using mixin so we can pass custom focus shadow properly
                    box-shadow: 0 0 0 $btn-focus-width rgba($app-dark-font, 0.5);
                }
            }
        }
    }

    .custom-select {
        color: $app-dark-font;
        background: $app-dark-dark
            escape-svg(
                url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'><path fill='#fff' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>")
            )
            right $btn-padding-x center / 8px 10px no-repeat;
        border-color: $app-dark-light;
        @include box-shadow($app-dark-input-shadow);

        &:focus {
            border-color: $app-dark-light;

            @if $enable-shadows {
                @include box-shadow($app-dark-input-shadow, $app-dark-input-focus-box-shadow);
            } @else {
                box-shadow: $app-dark-input-focus-box-shadow;
            }

            &::-ms-value {
                color: $app-dark-font;
                background-color: $app-dark-dark;
            }
        }

        &:disabled {
            color: rgba($app-dark-font, 0.25);
            background-color: darken($app-dark-light, 10%);
            border-color: darken($app-dark-light, 10%);
        }

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 $app-dark-light;
        }
    }

    .multiselect {
        color: $app-dark-font;

        & > .multiselect__select {
            &::before {
                border-top-color: rgb(255, 255, 255);
            }
        }

        & > .multiselect__tags {
            background-color: $app-dark-dark;
            border-color: $app-dark-light;

            & > .multiselect__tags-wrap {
                & > .multiselect__tag {
                    background-color: $app-dark-light;

                    & > .multiselect__tag-icon {
                        &::after {
                            color: rgba($app-dark-font, 0.65);
                        }

                        &:hover {
                            &::after {
                                color: $app-dark-font;
                            }
                        }
                    }
                }
            }

            .multiselect__spinner {
                background-color: $app-dark-light;

                &:before,
                &:after {
                    border-top-color: $app-dark-font;
                }
            }

            & > .multiselect__input {
                background-color: $app-dark-dark;
                color: $app-dark-font;

                &:-ms-input-placeholder {
                    color: rgba($app-dark-font, 0.65);
                }

                &::placeholder {
                    color: rgba($app-dark-font, 0.65);
                }
            }

            & > .multiselect__placeholder {
                color: rgba($app-dark-font, 0.65);
                display: inline-block;
                margin-top: 7px;
            }
        }

        & > .multiselect__content-wrapper {
            background-color: $app-dark-dark;
            border-color: $app-dark-light;

            & > .multiselect__content {
                & > .multiselect__element {
                    & > .multiselect__option {
                        color: rgba($app-dark-font, 0.65);

                        &:hover,
                        &:focus {
                            color: $app-dark-font;
                        }

                        &.multiselect__option--highlight {
                            background-color: $app-dark-light;
                            color: $app-dark-font;

                            &::after {
                                background-color: rgb(83, 83, 95);
                            }
                        }

                        &.multiselect__option--selected {
                            background-color: darken($app-dark-light, 7.5%);
                            color: $app-dark-font;

                            &::after {
                                color: $app-dark-font;
                            }

                            &.multiselect__option--highlight {
                                background-color: $red;
                                color: $app-dark-font;
                            }

                            &.multiselect__option--highlight:after {
                                background-color: $red;
                                color: $app-dark-font;
                            }
                        }
                    }
                }
            }
        }
    }

    .page-link {
        color: rgba($app-dark-font, 0.5);
        background-color: darken($app-dark-light, 7.5%);
        border-color: darken($app-dark-light, 10%);

        &:hover {
            color: $app-dark-font;
            background-color: $app-dark-light;
            border-color: $app-dark-light;
        }

        &:focus {
            outline: $pagination-focus-outline;

            @if $enable-shadows and $btn-active-box-shadow != none {
                @include box-shadow(
                    $btn-active-box-shadow,
                    0 0 0 $btn-focus-width rgba($app-dark-font, 0.5)
                );
            } @else {
                // Avoid using mixin so we can pass custom focus shadow properly
                box-shadow: 0 0 0 $btn-focus-width rgba($app-dark-font, 0.5);
            }
        }
    }

    .page-item {
        &.active .page-link {
            color: $app-dark-font;
            background-color: $app-dark-light;
            border-color: $app-dark-light;
        }

        &.disabled .page-link {
            color: rgba($app-dark-font, 0.25);
            background-color: darken($app-dark-light, 10%);
            border-color: darken($app-dark-light, 10%);
        }
    }

    .featured {
        background-color: $app-dark-dark;

        .player {
            & > .embed-responsive {
                background-color: rgba($app-dark-medium, 0.75);
            }
        }
    }

    .channel-card {
        background-color: $app-dark-dark;
    }

    .lds-roller {
        & > div {
            &::after {
                background-color: rgba($app-dark-font, 0.6);
            }
        }
    }

    .social--icons {
        & > li {
            & > a {
                background-color: $app-dark-light;
                color: rgba($app-dark-font, 0.65);
                border-color: darken($app-dark-dark, 7.5%);

                &:hover,
                &:focus {
                    background-color: darken($app-dark-light, 7.5%);
                    color: $app-dark-font;
                }
            }
        }
    }

    .app--footer {
        background-color: $app-dark-dark;
    }
}
