$app-dark-dark: rgb(32, 34, 37);
$app-dark-medium: rgb(47, 49, 54);
$app-dark-light: rgb(54, 57, 63);
$app-dark-font: rgb(255, 255, 255);

.app-dark {
    background-color: $app-dark-medium;
    color: $app-dark-font;

    .btn-light {
        @include button-variant($app-dark-light, $app-dark-light);
    }

    .btn-primary {
        @include button-variant($app-dark-dark, $app-dark-light);
    }

    .btn-outline-light {
        color: $app-dark-font;
        border-color: $app-dark-light;

        @include hover() {
            color: $app-dark-font;
            background-color: $app-dark-light;
            border-color: $app-dark-light;
        }

        &:focus,
        &.focus {
            box-shadow: 0 0 0 $btn-focus-width rgba($app-dark-font, 0.5);
        }

        &.disabled,
        &:disabled {
            color: $app-dark-font;
            background-color: transparent;
        }

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        .show > &.dropdown-toggle {
            color: color-yiq($app-dark-light);
            background-color: $app-dark-light;
            border-color: $app-dark-light;

            &:focus {
                @if $enable-shadows and $btn-active-box-shadow != none {
                    @include box-shadow(
                        $btn-active-box-shadow,
                        0 0 0 $btn-focus-width rgba($app-dark-font, 0.5)
                    );
                } @else {
                    // Avoid using mixin so we can pass custom focus shadow properly
                    box-shadow: 0 0 0 $btn-focus-width rgba($app-dark-font, 0.5);
                }
            }
        }
    }

    .page-link {
        color: rgba($app-dark-font, 0.5);
        background-color: darken($app-dark-light, 7.5%);
        border-color: darken($app-dark-light, 10%);

        &:hover {
            color: $app-dark-font;
            background-color: $app-dark-light;
            border-color: $app-dark-light;
        }

        &:focus {
            outline: $pagination-focus-outline;

            @if $enable-shadows and $btn-active-box-shadow != none {
                @include box-shadow(
                    $btn-active-box-shadow,
                    0 0 0 $btn-focus-width rgba($app-dark-font, 0.5)
                );
            } @else {
                // Avoid using mixin so we can pass custom focus shadow properly
                box-shadow: 0 0 0 $btn-focus-width rgba($app-dark-font, 0.5);
            }
        }
    }

    .page-item {
        &.active .page-link {
            color: $app-dark-font;
            background-color: $app-dark-light;
            border-color: $app-dark-light;
        }

        &.disabled .page-link {
            color: rgba($app-dark-font, 0.25);
            background-color: darken($app-dark-light, 10%);
            border-color: darken($app-dark-light, 10%);
        }
    }

    .featured {
        background-color: $app-dark-dark;

        .player {
            & > .embed-responsive {
                background-color: rgba($app-dark-medium, 0.75);
            }
        }
    }

    .channel-card {
        background-color: $app-dark-dark;
    }

    .lds-roller {
        & > div {
            &::after {
                background: rgba($app-dark-font, 0.6);
            }
        }
    }

    .AppFooter {
        background-color: $app-dark-dark;
    }
}
