.multiselect {
    min-height: 38px;
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    color: $gray-600;
    -ms-touch-action: manipulation;
    touch-action: manipulation;

    & > * {
        box-sizing: border-box;
    }

    &:focus {
        outline: none;
    }

    & > .multiselect__select {
        line-height: 16px;
        box-sizing: border-box;
        display: block;
        margin: 0;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 36px;
        right: 1px;
        top: 1px;
        padding: 0;
        text-align: center;
        transition: transform 0.2s ease;

        &::before {
            position: relative;
            right: 0;
            top: 65%;
            color: $gray-800;
            margin-top: 4px;
            border-color: $gray-800 transparent transparent;
            border-style: solid;
            border-width: 5px 5px 0;
            content: '';
        }
    }

    & > .multiselect__tags {
        min-height: 38px;
        display: block;
        padding: 0 40px 0 8px;
        border-radius: 5px;
        border: 1px solid $input-border-color;
        background-color: #fff;
        font-size: 14px;

        & > .multiselect__tags-wrap {
            display: inline;

            & > .multiselect__tag {
                position: relative;
                display: inline-block;
                padding: 4px 26px 4px 10px;
                border-radius: 5px;
                margin-top: 7px;
                margin-right: 10px;
                color: #fff;
                line-height: 1;
                background-color: $primary;
                white-space: nowrap;
                overflow: hidden;
                max-width: 100%;
                text-overflow: ellipsis;

                & > .multiselect__tag-icon {
                    cursor: pointer;
                    margin-left: 7px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    font-weight: 700;
                    font-style: normal;
                    width: 22px;
                    text-align: center;
                    line-height: 18px;
                    transition: all 0.2s ease;
                    border-radius: 0 5px 5px 0;

                    &::after {
                        content: '\D7';
                        color: rgba(255, 255, 255, 0.65);
                        font-size: 14px;
                    }

                    &:hover,
                    &:focus {
                        background-color: $red;

                        &::after {
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }

        .multiselect__spinner {
            position: absolute;
            right: 1px;
            top: 1px;
            width: 48px;
            height: 36px;
            background-color: #fff;
            display: block;

            &:after,
            &:before {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                margin: -8px 0 0 -8px;
                width: 16px;
                height: 16px;
                border-radius: 100%;
                border: 2px solid transparent;
                border-top-color: $primary;
                box-shadow: 0 0 0 1px transparent;
            }

            &:before {
                animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
                animation-iteration-count: infinite;
            }

            &:after {
                animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
                animation-iteration-count: infinite;
            }
        }

        & > .multiselect__single,
        & > .multiselect__input {
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            position: relative;
            display: inline-block;
            min-height: 20px;
            line-height: 20px;
            border: none;
            border-radius: 5px;
            background-color: #fff;
            width: 100%;
            transition: border 0.1s ease;
            box-sizing: border-box;
            vertical-align: top;
            margin-top: 7px;

            &:hover {
                border-color: #cfcfcf;
            }

            &:focus {
                border-color: #a8a8a8;
                outline: none;
            }
        }

        & > .multiselect__single {
            padding-left: 5px;
            margin-bottom: 8px;
        }

        & > .multiselect__input {
            &:-ms-input-placeholder {
                color: #35495e;
            }

            &::placeholder {
                color: #35495e;
            }
        }

        & > .multiselect__placeholder {
            color: #adadad;
            display: inline-block;
            margin-top: 7px;
        }
    }

    & > .multiselect__content-wrapper {
        position: absolute;
        display: block;
        background-color: #fff;
        width: 100%;
        max-height: 240px;
        overflow: auto;
        border: 1px solid #e8e8e8;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 50;
        -webkit-overflow-scrolling: touch;

        &.multiselect-enter-active,
        &.multiselect-leave-active {
            transition: all 0.15s ease;
        }

        &.multiselect-enter,
        &.multiselect-leave-active {
            opacity: 0;
        }

        & > .multiselect__content {
            list-style: none;
            display: inline-block;
            padding: 0;
            margin: 0;
            min-width: 100%;
            vertical-align: top;

            &::-webkit-scrollbar {
                display: none;
            }

            & > li:not(.multiselect__element) {
                & > span.multiselect__option {
                    display: block;
                    padding: 12px;
                    min-height: 40px;
                    line-height: 16px;
                    text-decoration: none;
                    text-transform: none;
                    background-color: $red;
                    color: #fff;
                    font-weight: 700;
                }
            }

            & > li.multiselect__element {
                display: block;

                & > .multiselect__option {
                    display: block;
                    padding: 12px;
                    min-height: 40px;
                    line-height: 16px;
                    text-decoration: none;
                    text-transform: none;
                    vertical-align: middle;
                    position: relative;
                    cursor: pointer;
                    white-space: nowrap;

                    &::after {
                        top: 0;
                        right: 0;
                        position: absolute;
                        line-height: 40px;
                        padding-right: 12px;
                        padding-left: 20px;
                        font-size: 13px;
                    }

                    &.multiselect__option--highlight {
                        background-color: $primary;
                        outline: none;
                        color: #fff;

                        &::after {
                            content: attr(data-select);
                            background-color: $primary;
                            color: #fff;
                        }
                    }

                    &.multiselect__option--selected {
                        background-color: #f3f3f3;
                        color: $primary;
                        font-weight: 700;

                        &::after {
                            content: attr(data-selected);
                            color: $primary;
                        }

                        &.multiselect__option--highlight {
                            background-color: $red;
                            color: #fff;
                        }

                        &.multiselect__option--highlight:after {
                            background-color: $red;
                            content: attr(data-deselect);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    &.multiselect--active {
        z-index: 50;

        &:not(.multiselect--above) {
            & > .multiselect__current,
            & > .multiselect__tags,
            & > .multiselect__tags > .multiselect__input {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        & > .multiselect__select {
            transform: rotate(180deg);
        }

        & > .multiselect__tags > .multiselect__placeholder {
            display: none;
        }
    }

    &.multiselect--disabled {
        background-color: #ededed;
        pointer-events: none;
        opacity: 0.6;
    }

    &.multiselect__loading-enter-active,
    &.multiselect__loading-leave-active {
        transition: opacity 0.4s ease-in-out;
        opacity: 1;
    }

    &.multiselect__loading-enter,
    &.multiselect__loading-leave-active {
        opacity: 0;
    }
}

fieldset[disabled] .multiselect {
    pointer-events: none;
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
    width: auto;
}

.multiselect__current {
    min-height: 40px;
    overflow: hidden;
    padding: 8px 30px 0 12px;
    white-space: nowrap;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
}
.multiselect__current {
    line-height: 16px;
    box-sizing: border-box;
    display: block;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

.multiselect--above .multiselect__content-wrapper {
    bottom: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    border-top: 1px solid #e8e8e8;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    background-color: #ededed;
    color: #a6a6a6;
}
.multiselect__option--disabled {
    background-color: #ededed !important;
    color: #a6a6a6 !important;
    cursor: text;
    pointer-events: none;
}
.multiselect__option--group {
    background-color: #ededed;
    color: #35495e;
}
.multiselect__option--group.multiselect__option--highlight {
    background-color: #35495e;
    color: #fff;
}
.multiselect__option--group.multiselect__option--highlight:after {
    background-color: #35495e;
}
.multiselect__option--disabled.multiselect__option--highlight {
    background-color: #dedede;
}
.multiselect__option--group-selected.multiselect__option--highlight {
    background-color: #ff6a6a;
    color: #fff;
}
.multiselect__option--group-selected.multiselect__option--highlight:after {
    background-color: #ff6a6a;
    content: attr(data-deselect);
    color: #fff;
}

.multiselect__strong {
    margin-bottom: 8px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}

@include keyframes(spinning) {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(2turn);
        transform: rotate(2turn);
    }
}
