$purple: rgb(100, 65, 164);
$primary: $purple;

@import '~bootstrap/scss/bootstrap.scss';
@import 'mixins';
@import 'fonts';
@import 'multiselect';

*,
*::before,
*::after {
    transition-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
    animation-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

.h-100-min {
    min-height: 100%;
}

#app {
    min-height: 100%;
    display: flex;
}

.isSolid {
    background-color: $primary;
    border-bottom: 1px solid darken($primary, 7.5%);
}

.featured {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50rem;
    height: -webkit-calc(100vh - 12rem);
    height: calc(100vh - 12rem);
    min-height: 45rem;
    max-height: 55rem;
    overflow: hidden;
    background-color: $purple;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% calc(100% - 6rem), 0 100%, 0 0);
    clip-path: polygon(100% 0%, 100% 100%, 50% calc(100% - 6rem), 0 100%, 0 0);
    z-index: 1;
    padding: 2rem 0 6rem 0;

    .fancyAnimationLayer {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;

        .fancyAnimationLayerItem {
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-name: parallax-stars;
            position: absolute;
            display: block;
            z-index: 2;
            opacity: 0;
            width: 20px;
            height: 20px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
            background-image: url('./../images/glitch.png');
        }
    }

    .player {
        max-width: 900px;
        width: calc(50vh * 16 / 9);
        margin: 6rem auto 0 auto;
        box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14),
            0px 4px 18px 3px rgba(0, 0, 0, 0.12);
        z-index: 1;

        & > .embed-responsive {
            background-color: rgba($purple, 0.75);
        }
    }

    .playerBtns {
        z-index: 1;
        max-width: 900px;
        width: calc(50vh * 16 / 9);
        margin: 1rem auto 0 auto;

        .btn {
            margin-left: 0.5rem;
        }
    }
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    & > div {
        transition: all 0.3s ease-in !important;
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite !important;
        transform-origin: 40px 40px;

        &::after {
            content: ' ';
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $purple;
            margin: -4px 0 0 -4px;
        }

        &:nth-child(1) {
            animation-delay: -0.036s !important;
        }

        &:nth-child(1)::after {
            top: 63px;
            left: 63px;
        }

        &:nth-child(2) {
            animation-delay: -0.072s !important;
        }

        &:nth-child(2)::after {
            top: 68px;
            left: 56px;
        }

        &:nth-child(3) {
            animation-delay: -0.108s !important;
        }

        &:nth-child(3)::after {
            top: 71px;
            left: 48px;
        }

        &:nth-child(4) {
            animation-delay: -0.144s !important;
        }

        &:nth-child(4)::after {
            top: 72px;
            left: 40px;
        }

        &:nth-child(5) {
            animation-delay: -0.18s !important;
        }

        &:nth-child(5)::after {
            top: 71px;
            left: 32px;
        }

        &:nth-child(6) {
            animation-delay: -0.216s !important;
        }

        &:nth-child(6)::after {
            top: 68px;
            left: 24px;
        }

        &:nth-child(7) {
            animation-delay: -0.252s !important;
        }

        &:nth-child(7)::after {
            top: 63px;
            left: 17px;
        }

        &:nth-child(8) {
            animation-delay: -0.288s !important;
        }

        &:nth-child(8)::after {
            top: 56px;
            left: 12px;
        }
    }
}

.channel-card {
    margin: 8px 4px;
    flex-basis: calc(33.3333% - 8px);
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.32);
    border-radius: 0.25rem;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    background-color: $purple;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        display: none;
        background-color: rgba(255, 255, 255, 0.075);
    }

    &:hover,
    &.active {
        &::before {
            display: block;
        }
    }

    .channel-thumbnail {
        width: 100%;
        height: 210px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .channel-partnered {
        border-radius: 0.25rem;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 4px 8px;
        color: rgb(255, 255, 255);
        position: absolute;
        font-size: 0.75rem;
        top: 10px;
        left: 10px;
    }

    .channel-viewers {
        border-radius: 0.25rem;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 4px 8px;
        color: rgb(255, 255, 255);
        position: absolute;
        font-size: 0.75rem;
        top: 10px;
        left: 10px;

        &.is-partnered {
            left: 45px;
        }
    }

    .channel-info {
        padding: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;

        div:first-child {
            flex: 0 0 17%;
        }

        div:last-child {
            display: flex;
            flex-direction: column;
            flex: 0 0 83%;
            overflow: hidden;

            span {
                color: rgba(255, 255, 255, 0.65);
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 0.875rem;
                line-height: 19px;

                &.channel-title {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}

.avatar {
    .avatar-outline {
        stroke-width: 2;
        stroke: rgba(0, 0, 0, 0.5);
        fill: none;
    }
}

.social--icons {
    list-style: outside none none;
    display: block;
    padding: 0;
    margin: 0;
    max-width: 210px;

    & > li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;

        & > a {
            display: block;
            background-color: rgb(255, 255, 255);
            padding: 10px 0;
            text-align: center;
            width: 44px;
            border: 1px solid rgba(255, 255, 255, 0.65);
            border-radius: $border-radius;
            color: $purple;

            &:hover,
            &:focus {
                background-color: darken(rgb(255, 255, 255), 7.5%);
            }
        }
    }
}

.app--footer {
    padding-top: 7rem;
    -webkit-clip-path: polygon(100% 27%, 100% 100%, 0 100%, 0 27%, 50% 0);
    clip-path: polygon(100% 27%, 100% 100%, 0 100%, 0 27%, 50% 0);
    background-color: $purple;
    margin-bottom: 0;
    padding: 4rem 0 0 0;

    .app--footer__links {
        list-style: outside none none;
        display: block;
        padding: 0;
        margin: 0;

        & > li {
            display: block;
            width: 100%;
            padding: 0.5rem 0 0 0;

            & > a {
                text-decoration: none;
                color: rgba(255, 255, 255, 0.75);

                &:hover,
                &:focus {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }

    h4 {
        &::after {
            display: block;
            content: '';
            border-radius: $border-radius;
            height: 4px;
            background-color: rgb(248, 247, 231);
            width: 25%;
            margin-top: 0.25rem;
        }
    }

    .app--footer__copyright {
        padding: 1rem 0 0 0;
        margin-top: 3rem;
        border-top: 2px solid rgb(248, 247, 231);
    }
}

@include keyframes(lds-roller) {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@include keyframes(parallax-stars) {
    0% {
        opacity: 0;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }
    to {
        opacity: 0;
        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
        -webkit-transform: translate3d(0, -200px, 0);
        transform: translate3d(0, -200px, 0);
    }
}

@media (max-height: 1080px) {
    .featured {
        .player {
            margin-top: 3rem;
        }
    }
}

@media (max-width: 1440px) {
    .featured {
        .container-fluid {
            .row:first-child {
                .col.text-center {
                    text-align: left !important;
                }
            }
        }
    }
}

@media (max-width: 986px) {
    .featured {
        .player,
        .playerBtns {
            max-width: 100%;
        }
    }
}

@media (max-width: 786px) {
    .featured {
        height: calc(100% - 20rem);
        padding-top: 4rem;
        margin-bottom: 1rem !important;
    }

    .navbar-nav {
        & > .nav-item {
            padding: 10px 0 0 0 !important;

            & > .btn {
                display: block;
                width: 100%;
            }
        }
    }

    .channel-card {
        flex-basis: calc(50% - 8px);
    }

    .app--footer {
        padding-top: 8rem;
    }
}

@media (max-width: 576px) {
    .featured {
        min-height: 35rem;
        -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% calc(100% - 3rem), 0 100%, 0 0);
        clip-path: polygon(100% 0%, 100% 100%, 50% calc(100% - 3rem), 0 100%, 0 0);

        .logo {
            width: 60%;
        }
    }
}

@media (max-width: 375px) {
    .navbar-brand {
        width: 50%;

        & > img {
            width: 100%;
        }
    }

    .featured {
        .playerBtns {
            .btn {
                margin-left: 0;
                margin-top: 0.5rem;
                display: block;
                width: 100%;
            }
        }
    }

    #filterHeader.row {
        & > .pl-0 {
            padding-left: 15px !important;
            text-align: center;
        }

        & > .pr-0 {
            padding-right: 15px !important;

            & > .btn {
                display: block;
                width: 100%;
                margin-top: 1rem;
            }
        }
    }

    #filterContainer.row {
        & > .pl-0 {
            padding-left: 15px !important;

            & > .multiselect {
                margin-top: 0.5rem;
            }
        }

        & > .px-0 {
            padding-left: 15px !important;
            padding-right: 15px !important;

            & > .custom-select {
                margin-top: 1rem;
            }
        }

        & > .pr-0 {
            padding-right: 15px !important;

            .btn {
                display: block;
                width: 100%;
                margin-top: 1rem;
            }
        }
    }

    .channel-card {
        flex-basis: calc(100% - 8px);
    }

    .app--footer {
        padding-top: 6rem;
        -webkit-clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0 10%, 50% 0);
        clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0 10%, 50% 0);

        & > .container {
            & > .row {
                & > .col-sm-12.col-md-4 {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@import '_dark';
